.container{
    border: 2px;
}

table {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 10px 10px #353e8f;
}

body {
    padding-top: 3%;
    background-color: #e6f7ff;
}

th,
td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

th {
    background-color:#151B54;
    font-weight: bold;
    color: white;
}

.container h1{
   text-align:center;
  color:#151B54;
   margin-left: 10px;
   margin: 10px;
}

#edit{
    background-color: green;
    color: #ddd;
    padding: 6px;
    border: none;
    font-weight: bold;
}
#delete{
    background-color: red;
    color: #ddd;
    padding: 6px;
    border: none;
    font-weight: bold;
}

#addEmp{
    margin: 15px 10px 10px 30px ;
    padding: 10px;
    align-self: center;
    background-color: #151B54;
    border: none;
    font-weight: bold;
    color: white;
}


#sucMsg{
    color: red;
    font-weight: bold;
    font-size: 26px;
    padding: 20px;
    margin: auto;
}